@import "./mixins.scss";

.company_logo {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  position: absolute;
  top: -25px;
  left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scoot_logo {
  background-color: $scoot;
}
.blogr_logo {
  background-color: $blogr;
}
.vector_logo {
  background-color: $vector;
}
.office_logo {
  background-color: $office-lite;
}
.pod_logo {
  background-color: $pod;
}
.creative_logo {
  background-color: $creative;
}
.pomodoro_logo {
  background-color: $pomodoro;
}
.maker_logo {
  background-color: $maker;
}
.coffee_logo {
  background-color: $coffee-roasters;
}
.mastercraft_logo {
  background-color: $mastercraft;
}
.typemaster_logo {
  background-color: $type-master;
}
.crowdfund_logo {
  background-color: $crowdfund;
}

.company_job {
  background-color: $veryDarkBlue;
  width: 327px;
  height: 228px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 40px 0 40px 0;
  text-decoration: none;
  @media (min-width: 1400px) {
    margin: 0 15px 50px 15px;
    @include container-section($veryDarkBlue, 350px, 228px, 10px);
  }
  .job_contract {
    padding-top: 40px;
  }
  .job_company_name {
    padding-top: 15px;
  }
  .job_contract,
  .job_company_name {
    color: $darkGrey;
    font-size: 16px;
    font-weight: 400;
  }
  .job_name {
    color: $white;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    padding-top: 15px;
  }
  .job_location {
    color: $violet;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    padding-top: 40px;
  }
  .job_contract,
  .job_company_name,
  .job_name,
  .job_location {
    margin: 0;
    padding-left: 30px;
  }
}
