@import "./variables.scss";

body {
  margin: auto 0;
}

header {
  background-image: url(../images/mobile/bg-pattern-header.svg);
  background-size: cover;
  display: flex;
  justify-content: space-between;
  height: 136px;
  padding: 0 30px 0 20px;
  .logo {
    margin-top: 30px;
  }
  .toggle_bar {
    margin-top: 30px;
    .toggle_bar_container {
      display: flex;
      align-items: center;
    }
  }
  @media (min-width: 799px) {
    background-image: url(../images/tablet/bg-pattern-header.svg);
    height: 160px;
    border-radius: 0 0 0 100px;
    padding: 0 40px 0 40px;
    .logo,
    .toggle_bar {
      padding-top: 15px;
    }
  }
  @media (min-width: 1439px) {
    background-image: url(../images/desktop/bg-pattern-header.svg);
    height: 160px;
    border-radius: 0 0 0 100px;
    padding: 0 150px 0 150px;
  }
}

.toggle-btn {
  background-color: $white;
  width: 48px;
  height: 24px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  margin: 0 15px 0 15px;
  .thumb {
    height: 16px;
    width: 16px;
    border-radius: 100%;
    background-color: $violet;
    transform: translateX(0);
    transition: left 0.15s ease;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
  }
  .toggled {
    background-color: $lightGrey;
  }
}

.toggle-btn.toggled .thumb {
  left: calc(27px);
}
