@font-face {
  font-family: "KumbhSans";
  src: url(../font/KumbhSans.ttf);
}

//Colors
$violet: #5964e0;
$lightViolet: #939bf4;
$veryDarkBlue: #19202d;
$midnight: #121721;
$white: #fff;
$lightGrey: #f4f6f8;
$grey: #9daec2;
$darkGrey: #6e8098;

//Font Family
$fontKumbhSans: "KumbhSans";

//Bg-color for logos
$scoot: hsl(36, 87%, 49%);
$blogr: hsl(12, 79%, 52%);
$vector: hsl(235, 10%, 23%);
$office-lite: hsl(227, 62%, 48%);
$pod: hsl(216, 46%, 14%);
$creative: hsl(295, 55%, 21%);
$pomodoro: hsl(254, 71%, 45%);
$maker: hsl(218, 58%, 31%);
$coffee-roasters: hsl(29, 60%, 87%);
$mastercraft: hsl(0, 0%, 12%);
$crowdfund: hsl(157, 57%, 50%);
$type-master: hsl(22, 89%, 52%);
