@font-face {
  font-family: "KumbhSans";
  src: url(../font/KumbhSans.ttf);
}

//Colors
$violet: #5964e0;
$lightViolet: #939bf4;
$veryDarkBlue: #19202d;
$midnight: #121721;
$white: #fff;
$lightGrey: #f4f6f8;
$grey: #9daec2;
$darkGrey: #6e8098;

//Font Family
$fontKumbhSans: "KumbhSans";
